pre.outputFormat,
pre.inputFormat
{
    display: inline-block;
    width: 41%;
    vertical-align:top;
}

pre.inputFormat{
    margin-right: 5px;
}

div.information>.problem_information:first-child{
    border-left: none;
}

div.information{
    height: 45px;
}

div.problem_information {
    height: 35px;
    display: inline-block;
    border-left: 1px solid;
    border-color: rgba(255, 255, 255, 0.18);
    padding: 0.8em;
    text-align: center;
    vertical-align:bottom;
}

div#discussions.layout,div#recommendations.layout{
    display: inline-block;
    vertical-align:top;
    width: 41%;
}
div#discussions.layout{
    float:left;
}
div#recommendations.layout{
    float:right;
}